.service-items-one {

  .service-items-mobile {

    @include breakpoint (mobile) {
      display: block;
      padding: 0 1rem;
    }

    @include breakpoint(smallTablet) {
      display: none;
      padding: 0 2rem;
    }

    @include breakpoint(laptop) {
      padding: 0 3rem;
    }
  }

 .service-item-lg-device {
  @include breakpoint (mobile) {
    display: none;
  }

  @include breakpoint(smallTablet) {
    display: block;
  }
 }

  .service-page-item {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(smallTablet) {
      padding: 3vw 3rem;
    }

    @include breakpoint(desktop) {
      padding: 3vw 0;
    }

    .service-image {
      box-shadow: 0px 15px 20px -15px #111;

      @include breakpoint(mobile) {
        flex-basis: 100%;
        padding: 0 0 3rem;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 50%;
        padding: 0;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    .service-text {

      @include breakpoint(mobile) {
        flex-basis: 100%;
        padding: 0 0 2rem;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 50%;
        padding: 0 3rem;
      }


      h2 {
        color: $serviceBg;
        position: relative;
        padding-bottom: 1rem;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 20%;
          background: orangered;
        }

        @include breakpoint(smallTablet) {
          font-size: 2.3vw;
        }

        @include breakpoint(laptop) {
          font-size: 2vw;
        }

        @include breakpoint(desktop) {
          font-size: 1.7vw;
        }
      }

      p {
        margin: 2vw 0;
        line-height: 1.3;
        color: grey;

        @include breakpoint(smallTablet) {
          font-size: 1.5vw;
        }

        @include breakpoint(laptop) {
          font-size: 1.3vw;
        }

        @include breakpoint(desktop) {
          font-size: .9vw;
        }
      }
    }
  }
}
