.service-home-intro {
  margin-top: -150px;
  height: 50vh;
  position: relative;
  margin-bottom: 5vw;
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url('../images/service/servicehome.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $servicePageHeading;
    text-transform: uppercase;

    @include breakpoint(smallTablet) {
      font-size: 4vw;
    }

    @include breakpoint(laptop) {
      font-size: 3vw;
    }

    @include breakpoint(desktop) {
      font-size: 2.5vw;
    }

    span {
      color: $servicePageSpan;
    }
  }
}

.service-home-heading {
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url('../images/service/serviceimg4.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;

  h1 {
    color: $servicePageHeading;
    text-transform: uppercase;

    @include breakpoint(mobile) {
      font-size: 5vw;
      padding: 12rem 1rem;
    }

    @include breakpoint(smallTablet) {
      font-size: 4vw;
      padding: 12rem 0;
    }

    @include breakpoint(laptop) {
      font-size: 3vw;
    }

    @include breakpoint(desktop) {
      font-size: 2.5vw;
    }

    span {
      color: $servicePageSpan;
    }
  }
}
