
.close-btn {
  position: fixed;
  top: 5%;
  right: 5%;
  color: white;
  z-index: 500;
  background-color: #111111;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 25px;
}

.img-btn-next {
  display: block;
  position: fixed;
  top: 50%;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #111111;
  z-index: 500;
  color: white;
}

.img-btn-prev {
  display: block;
  position: fixed;
  top: 50%;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #111111;
  z-index: 500;
  color: white;
}
