$bodyFontFamily: 'Orkney', sans-serif;
$headingFontFamily: 'Wigrum', sans-serif;

$navBg: #000000;
$headerLogoColor:  rgb(255, 66, 0);
$headerSpan: #ffffff;
$headerLink: #ffffff;

$btnPrimary: rgb(255, 66, 0);

$boxBtnBg: #000;
$boxColor: #fff;

$whyTextColor: rgb(133,133,133);


$serviceHeadingColor: #fff;
$serviceBgHover: rgb(255, 66, 0);
$serviceBg: rgb(255, 66, 0);
$serviceTextColor: rgb(133,133,133);
$serviceBtnBg: #000;

$referenceBg: #fff;
$referenceHeading: rgb(255, 66, 0);
$referenceBtnColor: #fff;
$referenceBtnBg: rgb(255, 66, 0);


