$bodyFontFamily: 'Orkney', sans-serif;
$headingFontFamily: 'Wirgnum', sans-serif;

$navBg: #000000;
$headerLogoColor:  rgb(255, 66, 0);
$headerSpan: #ffffff;
$headerLink: #ffffff;

$btnPrimary: rgb(255, 66, 0);



