.footer {
  padding: 0px 0 60px 0;
  background-color: #3c3c3b;
  color: #d8d8d8;
  font-weight: 300;
  font-size: 15px;
  .contact-footer {
    padding: 120px 0px;
    background-color: $secondary;
    color: $black;
    h1 {
      font-size: 36px;
      font-weight: bold;
    }
    p {
      font-size: 24px;
    }
    .sign-up-btn {
      @include media-breakpoint-down(sm) {
        margin-top: 1rem;
      }
      @include media-breakpoint-down(xs) {
        justify-content: flex-start !important;
      }
      a {
        @include media-breakpoint-down(xs) {
          width: 160px;
          font-size: 12px;
        }
        @include media-breakpoint-up(xs) {
          width: 180px;
        }
        @include media-breakpoint-up(lg) {
          width: 255px;
        }
      }
    }
    & + .container {
      padding-top: 80px;
    }
  }
  .social-links {
    .nav-link {
      font-size: 36px;
      color: #d8d8d8;
      padding: 0;
      margin-left: 30px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
  .bottom {
    @include media-breakpoint-down(md) {
      .col-12 {
        order: 2;
        text-align: center;
        & + .col-12 {
          order: 1;
          margin-bottom: 30px;
        }
      }
    }
    .footer-menu {
      justify-content: flex-end;
      @include media-breakpoint-down(md) {
        justify-content: center;
      }
      .nav-item {
        list-style: none;
        .nav-link {
          padding: 0;
        }
        margin-left: 30px;
        &:first-child {
          margin-left: 0px;
        }
      }
    }
  }
}
