.footer {
  background-color: $dark-grey;
  color: $white;
  font-weight: 300;
  font-size: 15px;
  .contact-footer {
    padding: 30px 0px;
    background-color: $secondary;
    color: $white;
    p {
      font-size: 1.2rem;
      font-family: $bodyFontFamily;
    } 
    .footer-brand {
      height: 50px;
    }
    .navbar-nav {
      .navbar-item {
        text-align: right;
        .navbar-link {
          font-size: 1.2rem;
          text-align: right;
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
  // .social-links {
  //   .nav-link {
  //     font-size: 36px;
  //     color: $white;
  //     padding: 0;
  //     margin-left: 30px;
  //     &:first-child {
  //       margin-left: 0px;
  //     }
  //   }
  // }
  .bottom {
    padding: 30px 0;
    @include media-breakpoint-down(md) {
      .col-12 {
        order: 2;
        text-align: center;
        & + .col-12 {
          order: 1;
        }
      }
    }
  }
}
