// .nav-color {
//   background-color: $white;
//   box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.07);
//   .nav-link {
//     color: $dark-grey !important;
//   }
//   .dropdown-menu {
//     box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.07);
//   }
// }

.navigation {
  background-color: rgba($white, 0.4);
  box-shadow: 0px 3px 9px 2px rgba(46, 61, 98, 0.1);
  @include media-breakpoint-down(md) {
    background-color: rgba($white, 0.8);
  }

  .nav-wrapper {
    .navbar-brand {
      width: 50px;
      transition: all 0.3s ease-in-out;
    }
    .navbar-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-item {
        padding: 5px;
        .nav-link {
          color: $white;
          font-size: 1.1rem;
          font-family: $headingFontFamily;
          @include media-breakpoint-down(md) {
            color: $grey;
          }
          &:hover {
            color: rgba($white, 0.7);
          }
        }
        .contact-btn {
          color: $white;
          margin-left: 2rem;
          border-radius: 25px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          -o-border-radius: 25px;
          padding: 10px 40px;
        }
        .dropdown-menu {
          color: $white;
          background-color: rgba($white, 0.4);
          margin-top: 15px;
          box-shadow: 0px 3px 9px 2px rgba(46, 61, 98, 0.2);
          .nav-link {
            &:hover {
              background-color: $secondary;
            }
          }
        }
      }
    }
  }
}

.color-grey {
  background-color: rgba($white, 0.8);
  .nav-wrapper {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $grey !important;
        }
        .dropdown-menu {
          color: $white;
          background-color: rgba($white, 0.8);
          .nav-link {
            &:hover {
              background-color: $secondary;
            }
          }
        }
      }
    }
  }
}
.gallery-nav {
  background-color: rgba($white, 0.8);
  .nav-link {
    color: $grey !important;
  }
}
