* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(244,244,244);
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

a {
  text-decoration: none;
  font-family: $bodyFontFamily;
  font-weight: 400;
}

p {
  font-family: $bodyFontFamily;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headingFontFamily;
  font-weight: 400;
}

