* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// fonts
$bodyFontFamily: 'Popins', sans-serif;
$headingFontFamily: 'Popins', sans-serif;
body {
  // background: rgb(244,244,244);
  // text-shadow: rgba(0,0,0,0.01) 0 0 2px;
  font-family: $headingFontFamily;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

a {
  text-decoration: none;
  font-weight: 400;
}

p {
  font-weight: 400;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
// h1 {
//   font-size: 3rem;
// }
h2 {
  font-size: 3rem;
  font-weight: bold;
  color: $dark-grey;
}
h5 {
  font-size: 1.375rem;
}
h4 {
  font-size: 1.75rem;
}
.preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;

  img {
    height: 300px;
    width: 300px;
  }
}

.fixed-top {
  z-index: 500 !important;
}

.loader-finish {
  opacity: 0;
  pointer-events: none;
}

.img-btn-next {
  display: block;
  position: fixed;
  top: 50%;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: #111111;
  z-index: 500;
  color: white;
}

.img-btn-prev {
  display: block;
  position: fixed;
  top: 50%;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: #111111;
  z-index: 500;
  color: white;
}

.contact-action {
  overflow: hidden;
  position: relative;
  padding: 120px 0;
  background: linear-gradient(90deg, rgba($secondary, 1), rgba($primary, 1));
  &::after {
    content: '';
    position: absolute;
    top: -40px;
    right: -60px;
    width: 500px;
    height: 500px;
    transform: rotate(8deg);
    background-image: url('../images/SVG/bm-logo-symbol-white.svg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    z-index: 1;
  }
  h2 {
    color: $white;
  }
  .contact-action-btn {
    z-index: 2;
    @include media-breakpoint-down(xl) {
      margin-top: 5rem;
    }
    a {
      margin-left: 2rem;
      border-radius: 50px;
      font-size: 1.1rem;
      font-weight: bold;
      color: $secondary;
      padding: 20px 60px;
      background: $white;
      box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.1);
      text-decoration: none;
      @include media-breakpoint-down(xs) {
        width: 160px;
      }
      @include media-breakpoint-up(xs) {
        width: 180px;
        margin-left: 0;
      }
      @include media-breakpoint-up(xl) {
        width: 255px;
      }
    }
  }
}
.heading-border {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 4px;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, rgba($primary, 0.8), rgba($secondary, 0.8));
  }
}
.heading-border-left {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 4px;
    bottom: -15px;
    left: 0;
    background: linear-gradient(90deg, rgba($primary, 0.8), rgba($secondary, 0.8));
  }
}
