.reference-images {
  background: white;
  padding: 120px 0;

  @include breakpoint(mobile) {
    padding: 120px 1rem;
  }

  @include breakpoint(smallTablet) {
    padding: 120px 2rem;
  }

  @include breakpoint(laptop) {
    padding: 120px 3rem;
  }

  @include breakpoint(desktop) {
    padding: 120px 0rem;
  }

  h2 {
    font-size: 3.375rem;
    position: relative;


    &::before {
      content: '';
      position: absolute;
      background: orangered;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 90px;
    }
  }

  .images-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0;

    .ref-item {
      padding: 30px 25px;

      @include breakpoint(mobile) {
        flex-basis: 50%;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 25%;
      }

      @include breakpoint(tablet) {
        flex-basis: 20%;
      }

      img {
        height: 100%;
        width: 100%;
        opacity: .7;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
