.reference-intro {

  .reference-wrapper {
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),url('../images/referencepage/1ref.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
      padding: 10rem 0;
      color: $headingColor;
      position: relative;
      font-size: 4vw;
      text-align: center;
    }
  }
}
