.contact {

  @include breakpoint(mobile) {
    padding: 120px 1rem;
  }

  @include breakpoint(smallTablet) {
    padding: 120px 2rem;
  }

  @include breakpoint(laptop) {
    padding: 120px 3rem;
  }

  @include breakpoint(desktop) {
    padding: 120px 0rem;
  }

  .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .contact-form {

      @include breakpoint(mobile) {
        flex-basis: 100%;
        padding: 0;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 60%;
        padding: 0 2rem;
      }

      h1 {
        text-transform: uppercase;
        font-size: 2.2rem;
        color: $headingColor;
      }

      form {

        .form-group {
          position: relative;
          padding-top: 16px;
          margin-bottom: 1rem;

          .focused {
            height: 100px;
            width: 100%;
            background-color: blueviolet;
          }

          .input-text {
            display: block;
            width: 100%;
            height: 30px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $contactBorder;
            font-size: 1.125rem;


            &:focus {
              outline: none;
            }
          }

          label {
            position: absolute;
            top: 19px;
            left: 0;
            font-family: $bodyFontFamily;
            transition: all .3s;
            font-size: 18px;
            color: $contactBorder;
          }
        }
      }
    }

    .contact-information {

      @include breakpoint(mobile) {
        flex-basis: 100%;
        margin: 2rem 0;
      }

      @include breakpoint(smallTablet) {
        flex-basis: 40%;
        margin: 0;
      }

      .contact-map {
        box-shadow: 0px 15px 10px -15px #111;
        height: 50%;

        iframe {
          height: 100%;
          width: 100%;
        }
      }

      .contact-inf {

        h2 {
          margin: .5rem 0;
          text-transform: uppercase;
          color: $headingColor;
        }

        p {
          color: black;
        }

        h3 {
          color: $headingColor;
        }
      }
    }
  }
}
