.about {
  position: relative;

  @include breakpoint(mobile) {
    height: 80vh;
  }

  @include breakpoint(smallTablet) {
    height: 40vh;
  }

  @include breakpoint(tablet) {
    height: 60vh;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
  }


  img {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;

  }

  .about-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    width: 65%;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(mobile) {
      width: 85%;
    }

    @include breakpoint(desktop) {
      width: 65%;
    }

    .about-text {
      flex-basis: 70%;
      padding-right: 10%;

      @include breakpoint(mobile) {
        flex-basis: 100%;
      }

      @include breakpoint(tablet) {
        flex-basis: 70%;
      }

      h2 {
        text-align: center;
        color: $serviceBg;
        font-size: 2rem;
        text-align: left;
        color: $aboutHeadingColor;

        span {
          font-size: 3vw;
          color: $aboutHeadingSpan;

          @include breakpoint(mobile) {
            font-size: 2.375rem;
          }
        }
      }
    }
  }
}
