.about {
  position: relative;

  @include breakpoint(smallTablet) {
    height: 400px;
  }

  @include breakpoint(tablet) {
    height: 500px;
  }

  @include breakpoint(laptop) {
    height: 600px;
  }

  @include breakpoint(desktop) {
    height: 700px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
  }


  img {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;

  }

  .about-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);

    h1 {
      text-align: center;
      color: $serviceBg;
      font-size: 3vw;
      padding-bottom: 1vw;
    }

    p {
      color: white;
      text-align: center;
      text-shadow: 0 20px 50px BLACK;
      font-family: $bodyFontFamily;
      line-height: 1.3;

      @include breakpoint(smallTablet) {
        font-size: 1.7vw;
      }

      @include breakpoint(tablet) {
        font-size: 1.4vw;
      }

      @include breakpoint(laptop) {
        font-size: 1.3vw;
      }

      @include breakpoint(desktop) {
        font-size: 1.1vw;
      }
      &:last-of-type {
        padding-bottom: 3vw;
      }
    }
  }
}
