.intro-home {
  position: relative;

  @include breakpoint(mobile) {
    height: calc(100vh - 119px);
  }

  @include breakpoint(tablet) {
    height: calc(100vh - 119px);
  }

  @include breakpoint(laptop) {
    height: calc(100vh - 119px);
  }

  .hero-content {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(153, 153, 153);
    z-index: 2;
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: $homeColor;

    @include breakpoint(mobile) {
      width: 100%;
    }

    @include breakpoint(tablet) {
      width: 60%;
    }

    h1 {
      flex-basis: 100%;
      line-height: 1;

      @include breakpoint(mobile) {
        font-size: 12vw;
      }

      @include breakpoint(smallTablet) {
        font-size: 7.5vw;
      }

      @include breakpoint(tablet) {
        font-size: 5.5vw;
      }

      @include breakpoint(laptop) {
        font-size: 5vw;
      }
    }

    h3 {
      flex-basis: 100%;
      margin: 2rem 0;

      @include breakpoint(mobile) {
        font-size: 7vw;
      }

      @include breakpoint(smallTablet) {
        font-size: 3.5vw;
      }


      @include breakpoint(tablet) {
        font-size: 2vw;
        margin: 1rem 0;
      }

      @include breakpoint(laptop) {
        font-size: 1.5vw;
      }
    }

    .scroll-down {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 68px;
      height: 68px;
      transform: translateX(100%) rotate(90deg);
      background: $homeBtnBg;

      @include breakpoint(mobile) {
        display: none;
      }

      @include breakpoint(tablet) {
        display: block;
      }

      svg {
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 28px;
      }
    }
  }

  .hero-image {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vh - 187px);
    z-index: 1;
    background-image: url('../images/home/homeintro.jpg');
    background-position: center center;
    background-size: cover;

    @include breakpoint(mobile) {
      width: 100%;
    }

    @include breakpoint(tablet) {
      width: 55%;
    }
  }
}
