.slide-show {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('../images/service/img3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include breakpoint(mobile) {
    height: 100%;
    padding: 120px 1rem;
  }

  @include breakpoint(smallTablet) {
    height: 100vh;
    padding: 120px 2rem;
  }

  @include breakpoint(laptop) {
    padding: 120px 3rem 0;
  }

  h2 {
    font-size: 3.375rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.875rem;
    position: relative;
    color: white;

    &::before {
      content: '';
      position: absolute;
      background: orangered;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 90px;
    }
  }

  .slides {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 2rem 0;

    .slide {
      position: relative;

      @include breakpoint(mobile) {
        flex-basis: 100%;
      }

      @include breakpoint(tablet) {
        flex-basis: calc(100% - 100px);
      }

      .slide-item {
        list-style: none;

        @include breakpoint(mobile) {
          padding-right: 10%;
        }

        @include breakpoint(smallTablet) {
          padding-right: 20%;
        }

         h3 {
           font-size: 2.375rem;
           color: white;
         }

         p {
           padding: 2rem 0;
           font-size: 1.125rem;
           line-height: 1.5;
           color: $serviceTextColor;
         }
      }

      .slide-2, .slide-3 {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
      }
    }

    .nav {
      flex-basis: 100px;
      position: relative;

      @include breakpoint(mobile) {
        display: flex;
        flex-basis: 20%;
        justify-content: space-between;
        margin: 0 auto;
      }

      @include breakpoint(tablet) {
        flex-basis: 100px;
        display: block;

      }

      .nav-link {
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        width: 18px;
        height: 18px;
        background-color: #d8d8d8;
        border-radius: 50%;
        margin-bottom: 10px;

        @include breakpoint(mobile) {
          margin-top: 4rem;
          margin-left: 0;
          margin-bottom: 0;
        }

        @include breakpoint(tablet) {
          margin-left: auto;
          margin-top: 1rem;
        }
      }

      .active {
        background-color: orangered;
      }
    }
  }
}

