.service {
  margin-top: -300px;
  position: relative;

  .service-heading {
    overflow: hidden;
    position: relative;
    padding-bottom: 10vw;

    @include breakpoint(smallTablet) {
      clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    }

    @include breakpoint (laptop) {
      clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
      padding-bottom: 5vw;
    }

    @include breakpoint (desktop) {
      clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
      padding-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: .9;
    }

    &:hover::before {
      background: $serviceBgHover;
      opacity: .8;
    }

    img {
      width: 100%;
    }

    h1 {
      position: absolute;
      color: $serviceHeadingColor;
      font-size: 7vw;
      text-shadow: 0 20px 30px black;

      @include breakpoint (smallTablet) {
        top: 30%;
        left: 50%;
        transform: translate(-50%,-30%);
      }

      @include breakpoint(laptop) {
        top: 45%;
        left: 50%;
        transform: translate(-50%,-45%);
      }
    }
  }

  .service-content {
    background: $serviceBg;
    margin-top: -205px;

    @include breakpoint(smallTablet) {
      clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    }

    @include breakpoint (laptop) {
      clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    }

    @include breakpoint (desktop) {
      clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
    }

    .service-content-wrapper {
      display: flex;
      flex-wrap: wrap;
      padding-top: 10vw;
      justify-content: space-around;
      align-items: center;
      padding: 10vw 3rem;

      .service-item {
        flex-basis: 31%;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 99%;
          width: 100%;
          background: #000;
          opacity: .6;
        }

        img {
          width: 100%;


          @include breakpoint (smallTablet) {
            height: 40vw;
          }

          @include breakpoint (tablet) {
            height: 30vw;
          }

          @include breakpoint(desktop) {
            height: 25vw;
          }
        }

        .service-item-content {
          position: absolute;
          top: 0;
          left: 0;
          padding: 2vw;

          h2 {
            color: $serviceHeadingColor;
            margin-bottom: 2vw;
            font-size: 2.5vw;

            @include breakpoint (desktop) {
              font-size: 2vw;
            }
          }

          p {
            color: $serviceTextColor;

            @include breakpoint(smallTablet) {
              font-size: 1.9vw;
            }

            @include breakpoint (tablet) {
              font-size: 1.5vw;
            }

            @include breakpoint (laptop) {
              font-size: 1.3vw;
            }

            @include breakpoint(desktop) {
              font-size: 1.1vw;
            }
          }
        }
      }
    }
  }
}
