.why-batmark {
  background: rgb(244, 244, 244);
  padding: 120px 1.25rem;


  @include breakpoint(mobile) {
    padding: 120px 1rem;
  }

  @include breakpoint(smallTablet) {
    padding: 120px 2rem;
  }

  @include breakpoint(laptop) {
    padding: 120px 3rem;
  }

  @include breakpoint(desktop) {
    padding: 120px 0rem;
  }

  .left-part-why {
    padding-right: 5vw;

    @include breakpoint(mobile) {
      flex-basis: 100%;
      padding: 0;
    }

    @include breakpoint(tablet) {
      flex-basis: 70%;
      padding-right: 5vw;
    }

    .section-title {
      font-size: 3.375rem;
      padding-bottom: 1.5rem;
      margin-bottom: 1.875rem;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        background: orangered;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 90px;
      }
    }

    p {
      margin-top: 2rem;
      color: $whyTextColor;
      font-size: 1.125rem;
      line-height: 1.3;
    }

    .cards-type {
      max-width: 100%;

      @include breakpoint(mobile) {
        margin-top: 100px;
      }

      @include breakpoint(smallTablet) {
        margin-top: 250px;
      }

      .card {
        margin: 0 auto;
        width: 20%;

        &:nth-child(1) {
          margin-left: 0;
        }

        .card-img {
          margin: 0 auto;
          width: 80%;
          height: 80%;

          img {
            width: 80%;
            height: 80%;
          }
        }

        .card-title {
          margin: 10px 0 0;
          font-size: 1.125rem;
          color: $whyTextColor;
          text-align: center;
          font-family: $bodyFontFamily;
          font-weight: 400;
        }
      }
    }
  }

  .right-part-why {
    flex-basis: 30%;
    background-image: url('../images/home/iphonebg.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: url('../images/home/iphone.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      overflow: hidden;
    }

    @include breakpoint (mobile) {
      display: none;
    }

    @include breakpoint(tablet) {
      display: block;
    }
  }
}
