.why {

  .why-wrapper {
    display: flex;
    padding-top: 10vw;

    .left-part {
      flex-basis: 30%;
      padding: 250px 30px 0;

      p {
        padding: 1vw 2vw 1vw 0;
      }
    }

    .right-part {
      flex-basis: 70%;
      display: flex;
      flex-wrap: wrap;
      padding: 5vw .5vw;

      .why-item {
        flex-basis: 33%;
        padding: 20px 10px;
      }
    }
  }
}
