.intro-buttons {
  text-align: center;


  .btn-primary {
    background: $btnPrimary;
    border: none;
    padding: 1vw;
    margin-right: 20px;
    color: $headerSpan;
    border: 3px solid $btnPrimary;
    font-family: $bodyFontFamily;
    font-weight: 400;
    cursor: pointer;

    @include breakpoint(tablet) {
      font-size: 1.2vw;
    }

    @include breakpoint (desktop) {
      font-size: 1.1vw;
    }
  }

  .btn-second {
    background: transparent;
    border: 3px solid grey;
    padding: 1vw;
    margin-right: 20px;
    color: $headerSpan;
    font-family: $bodyFontFamily;
    font-weight: 400;
    cursor: pointer;

    @include breakpoint(tablet) {
      font-size: 1.2vw;
    }

    @include breakpoint (desktop) {
      font-size: 1.1vw;
    }

    &:hover {
      background: $btnPrimary;
      border: 3px solid $btnPrimary;
    }
  }

}
