.gallery-wrapper {
  margin-top: 5rem;

  @include breakpoint(mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas:
    "img1 img2"
    "img3 img4"
    "img3 img5"
    "img6 img7";
  }
  @include breakpoint(smallTablet) {
    grid-gap: 10px;
  }

  @include breakpoint(tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img3"
    "img6 img7 .";
  }

  @include breakpoint(laptop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "img1 img2 img3 img4"
    "img5 img6 img3 img7";
  }

  .gallery-item {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;

    @include breakpoint(mobile) {
      height: 200px;
    }

    @include breakpoint(smallTablet) {
      margin: 0;
      height: 300px;
    }

    &:hover .gallery-title {
      opacity: .8;
      transition: all ease-in-out .1s ;
    }

    .gallery-title {
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: $tittleColor;
        font-size: 1.125rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .img1 {
    grid-area: img1;
    background-image: url('../images/gallery/img1.jpg');
  }

  .img2 {
    grid-area: img2;
    background-image: url('../images/gallery/img2.jpg');
  }

  .img3 {
    grid-area: img3;
    background-image: url('../images/gallery/img3.jpg');

    @include breakpoint(mobile) {
      height: 410px;
    }

    @include breakpoint(smallTablet) {
      height: 610px;
    }
  }

  .img4 {
    grid-area: img4;
    background-image: url('../images/gallery/img4.jpg');
  }

  .img5 {
    grid-area: img5;
    background-image: url('../images/gallery/img5.jpg');
  }

  .img6 {
    grid-area: img6;
    background-image: url('../images/gallery/img6.jpg');
  }

  .img7 {
    grid-area: img7;
    background-image: url('../images/gallery/img7.jpg');
  }
}

.img-window {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $imagesOpendBg;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  img {
    max-height: 80vh;
    max-width: 80vw;
  }
}
