.gallery {
  margin-top: 5rem;
  padding: 120px 0;

  .gallery-wrapper {
    margin-top: 5rem;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto;

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        'img1 img2 img3 img4'
        'img5 img6 img3 img7'
        'img8 img9 img10 img11'
        'img12 img13 img14 img15'
        'img16 img17 img18 img19'
        'img20 img21 img22 img23'
        'img24 img25 img26 img27'
        'img28 img29 img30 img31'
        'img32 img29 img34 img35'
        'img36 img37 img38 img39'
        'img40 img41 img42 img33';
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        'img1 img2 img3'
        'img4 img5 img3 '
        'img6 img7 img8'
        'img9 img10 img11'
        'img12 img13 img14'
        'img15 img16 img17 '
        'img18 img19 img20 '
        'img21 img22 img23'
        'img24 img25 img26'
        'img27 img28 img29'
        'img30 img31 img29'
        'img32 img33 img34'
        'img35 img36 img37'
        'img38 img39 img40'
        'img41 img42 img43';
    }
    @include media-breakpoint-down(sm) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
      grid-template-areas:
        'img1 img2'
        'img3 img4'
        'img5 img6'
        'img7 img8'
        'img9 img10'
        'img11 img12'
        'img13 img14'
        'img15 img16 '
        'img17 img18 '
        'img19 img20 '
        'img21 img22 '
        'img23 img24'
        'img25 img26 '
        'img27 img28 '
        'img29 img30'
        'img31 img32'
        'img33 img34'
        'img35 img36'
        'img37 img38'
        'img39 img40'
        'img41 img42';
    }

    .gallery-item {
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      cursor: pointer;
      height: 250px;

      @include media-breakpoint-down(sm) {
        height: 200px;
      }

      // &:hover .gallery-title {
      //   opacity: 0.8;
      //   transition: all 0.1s ease-in-out;
      //   -webkit-transition: all 0.1s ease-in-out;
      //   -moz-transition: all 0.1s ease-in-out;
      //   -ms-transition: all 0.1s ease-in-out;
      //   -o-transition: all 0.1s ease-in-out;
      // }

      .gallery-title {
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          font-size: 1.125rem;
          text-decoration: none;
          text-transform: uppercase;
          color: $secondary;
        }
      }
    }

    .img1 {
      grid-area: img1;
      background-image: url('../images/gallery/img1.jpg');
    }

    .img2 {
      grid-area: img2;
      background-image: url('../images/gallery/img2.jpg');
    }

    .img3 {
      grid-area: img3;
      background-image: url('../images/gallery/img3.jpg');
      height: 515px;
      @include media-breakpoint-down(md) {
        height: 410px;
      }

      @include media-breakpoint-down(sm) {
        height: 210px;
      }
    }

    .img4 {
      grid-area: img4;
      background-image: url('../images/gallery/img4.jpg');
    }

    .img5 {
      grid-area: img5;
      background-image: url('../images/gallery/img5.jpg');
    }

    .img6 {
      grid-area: img6;
      background-image: url('../images/gallery/img6.jpg');
    }

    .img7 {
      grid-area: img7;
      background-image: url('../images/gallery/img7.jpg');
    }
    .img8 {
      grid-area: img8;
      background-image: url('../images/gallery/img8.jpg');
    }
    .img9 {
      grid-area: img9;
      background-image: url('../images/gallery/img9.jpg');
    }
    .img10 {
      grid-area: img10;
      background-image: url('../images/gallery/img10.jpg');
    }
    .img11 {
      grid-area: img11;
      background-image: url('../images/gallery/img11.jpg');
    }
    .img12 {
      grid-area: img12;
      background-image: url('../images/gallery/img12.jpg');
    }
    .img13 {
      grid-area: img13;
      background-image: url('../images/gallery/img13.jpg');
    }
    .img14 {
      grid-area: img14;
      background-image: url('../images/gallery/img14.jpg');
    }
    .img15 {
      grid-area: img15;
      background-image: url('../images/gallery/img15.jpg');
    }
    .img16 {
      grid-area: img16;
      background-image: url('../images/gallery/img16.jpg');
    }
    .img17 {
      grid-area: img17;
      background-image: url('../images/gallery/img17.jpg');
    }
    .img18 {
      grid-area: img18;
      background-image: url('../images/gallery/img18.jpg');
    }
    .img19 {
      grid-area: img19;
      background-image: url('../images/gallery/img19.jpg');
    }
    .img20 {
      grid-area: img20;
      background-image: url('../images/gallery/img20.jpg');
    }
    .img21 {
      grid-area: img21;
      background-image: url('../images/gallery/img21.jpg');
    }
    .img22 {
      grid-area: img22;
      background-image: url('../images/gallery/img22.jpg');
    }
    .img23 {
      grid-area: img23;
      background-image: url('../images/gallery/img23.jpg');
    }
    .img24 {
      grid-area: img24;
      background-image: url('../images/gallery/img24.jpg');
    }
    .img25 {
      grid-area: img25;
      background-image: url('../images/gallery/img25.jpg');
    }
    .img26 {
      grid-area: img26;
      background-image: url('../images/gallery/img26.jpg');
    }
    .img27 {
      grid-area: img27;
      background-image: url('../images/gallery/img27.jpg');
    }
    .img28 {
      grid-area: img28;
      background-image: url('../images/gallery/img28.jpg');
    }
    .img29 {
      grid-area: img29;
      background-image: url('../images/gallery/img29.jpg');
      height: 515px;

      @include media-breakpoint-down(md) {
        height: 410px;
      }
      @include media-breakpoint-down(sm) {
        height: 210px;
      }
    }
    .img30 {
      grid-area: img30;
      background-image: url('../images/gallery/img30.jpg');
    }
    .img31 {
      grid-area: img31;
      background-image: url('../images/gallery/img31.jpg');
    }
    .img32 {
      grid-area: img32;
      background-image: url('../images/gallery/img32.jpg');
    }
    .img33 {
      grid-area: img33;
      background-image: url('../images/gallery/img33.jpg');
    }
    .img34 {
      grid-area: img34;
      background-image: url('../images/gallery/img34.jpg');
    }
    .img35 {
      grid-area: img35;
      background-image: url('../images/gallery/img35.jpg');
    }
    .img36 {
      grid-area: img36;
      background-image: url('../images/gallery/img36.jpg');
    }
    .img37 {
      grid-area: img37;
      background-image: url('../images/gallery/img37.jpg');
    }
    .img38 {
      grid-area: img38;
      background-image: url('../images/gallery/img38.jpg');
    }
    .img39 {
      grid-area: img39;
      background-image: url('../images/gallery/img39.jpg');
    }
    .img40 {
      grid-area: img40;
      background-image: url('../images/gallery/img40.jpg');
    }
    .img41 {
      grid-area: img41;
      background-image: url('../images/gallery/img41.jpg');
    }
    .img42 {
      grid-area: img42;
      background-image: url('../images/gallery/img42.jpg');
    }
  }
}

.img-window {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  img {
    max-height: 80vh;
    max-width: 80vw;
  }
}
