.why-morph-network {
  margin-top: -200px;
  padding: 300px 0 100px 0;
  position: relative;
  &::after {
    position: absolute;
    top: -250px;
    left: -20%;
    content: '';
    height: 100%;
    transform: rotate(-10deg);
    width: 100%;
    background-image: url('../images/SVG/bm-logo-symbol-color.svg');
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.06;
    @include media-breakpoint-down(lg) {
      top: 200px;
    }
    @include media-breakpoint-down(md) {
      left: 10%;
      height: 150%;
      width: 150%;
    }
  }
  h2 {
    font-weight: 700;
    color: $dark-grey;
  }
  .why-morph-network-content {
    position: relative;
    padding-top: 120px;
    z-index: 1;

    .row {
      div[class^='col-'] {
        padding-left: 0;
      }
    }

    @include media-breakpoint-down(sm) {
      padding-top: 80px;
    }

    .text-content {
      z-index: 1;

      h5 {
        text-align: left;
        color: $secondary;
        font-weight: bold;
        font-size: 1.3rem;

        span {
          display: block;
          line-height: 1.4;
          color: $primary;
        }

        @include media-breakpoint-down(md) {
          width: 90%;
          text-align: left;
          margin: 0 auto;
          font-size: 18px;
        }

        @include media-breakpoint-down(lg) {
          font-size: 22px;
        }
      }

      p {
        font-size: 1.1rem;
        color: $grey;
        line-height: 1.5;
        margin-top: 30px;
        text-align: justify;
        width: 55%;

        @include media-breakpoint-down(md) {
          width: 90%;
          margin: 2rem auto;
        }
      }
    }

    .why-morph-network-blocks {
      position: relative;
      margin-top: -230px;
      margin-left: auto;
      width: 80%;

      // @include media-breakpoint-down(sm) {
      //   display: none;
      // }

      .row {
        margin-left: -8px;
        margin-right: -8px;

        div[class^='col-'] {
          padding-left: 9px;
          padding-right: 9px;
        }
      }
      .item-wrapper {
        filter: drop-shadow(0px 3px 9px rgba(46, 61, 98, 0.1));
        .network-block-item {
          padding: 30px;
          margin-bottom: 30px;
          min-height: 200px;
          background-color: $white;
          transition: all 0.3s ease-in-out;
          transform: translateY(0px);
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-radius: 7px;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          -ms-border-radius: 7px;
          -o-border-radius: 7px;
          &:hover {
            transform: translateY(-5px);
          }

          img {
            width: 50px;
            height: auto;
            display: block;
            margin-bottom: 20px;
          }

          h6 {
            color: $dark-grey;
            font-weight: 700;
          }
        }
      }

      @include media-breakpoint-down(md) {
        margin: 0 0;
        width: 100%;
      }
    }
  }
}
