.hero-slider {
  .item {
    width: 100%;
    height: 100vh;
    background-color: $primary;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .slider-content {
      height: 100%;
      padding-bottom: 8rem;
      color: #fff;

      @include media-breakpoint-down(md) {
        padding-bottom: 8rem;
      }
      h1 {
        font-weight: bold;
        @include media-breakpoint-up(xs) {
          font-size: 40px;
        }
        @include media-breakpoint-up(md) {
          font-size: 64px;
        }
      }

      p {
        @include media-breakpoint-up(md) {
          font-size: 1.5rem;
        }
      }
    }
  }
  .slide-one {background-image: linear-gradient(0deg, rgba($primary, 0.3) 0%, rgba($secondary, 0.4) 90%), url('../images/home/slide-one.jpg');  }
  .slide-two {background-image: linear-gradient(0deg, rgba($primary, 0.3) 0%, rgba($secondary, 0.4) 90%), url('../images/home/homeintro.jpg');  }
}
