.reference {
  overflow: hidden;
  min-height: 400px;
  color: $dark;
  @include media-breakpoint-up(xs) {
    padding: 80px 0;
  }
  .slider {
    .owl-stage-outer {
      padding: 10px 0px 30px 10px;
      .item {
        background: $white;
        height: 220px;
        padding: 30px 40px;
        img {
          height: 100%;
          filter: grayscale(1);
          -webkit-filter: grayscale(1);
          &:hover {
            filter: grayscale(0);
            -webkit-filter: grayscale(0);
          }
        }
      }
    }
    .owl-dots {
      margin-top: 20px;
    }
  }

  .reference-btn {
    a {
      font-size: 20px;
      color: $white;
      @include media-breakpoint-up(sm) {
        width: 180px;
      }
      @include media-breakpoint-up(lg) {
        width: 160px;
      }
    }
  }
}
