.reference {
  overflow: hidden;
  color: $dark;
  @include media-breakpoint-up(xs) {
    padding: 120px 0 80px;
  }
  p {
    color: $grey;
    font-size: 1.1rem;
  }
  .slider {
    margin-top: 4rem;
    .owl-stage-outer {
      padding: 10px 0px 30px 10px;
      .item {
        background: $white;
        height: 100px;
        display: flex;
        justify-content: center;
        img {
          width: 130px;
          filter: grayscale(1);
          -webkit-filter: grayscale(1);
          &:hover {
            filter: grayscale(0);
            -webkit-filter: grayscale(0);
            cursor: pointer;
          }
        }
      }
    }
    .owl-dots {
      margin-top: 20px;
    }
  }

  .reference-btn {
    a {
      font-size: 1rem;
      font-weight: bold;
      color: $secondary;
      @include media-breakpoint-up(sm) {
        width: 180px;
      }
      @include media-breakpoint-up(lg) {
        width: 160px;
      }
    }
  }
}
