.next-project-awaits {
  padding: 150px 0 30px 0;
  position: relative;
  z-index: 1;
  p {
    color: $grey;
    font-size: 1rem;
  }

  .project-awaits-items {
    padding: 90px 0;

    .project-awaits-single-item {
      width: 90%;
      position: relative;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;

      @include media-breakpoint-down(sm) {
        height: 275px;
      }

      &:after {
        content: ' ';
        display: block;
        padding-bottom: 110%;
      }

      .card-content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        box-shadow: 0px 3px 9px 2px rgba(46, 61, 98, 0.1);
        border-radius: 10px;
        cursor: pointer;

        @include media-breakpoint-up(xl) {
          &:hover {
            background: linear-gradient(0deg, rgba($primary, 0.8) 0%, rgba($secondary, 0.8) 90%);
            h4 {
              margin-top: 65px;
            }

            p {
              transform: translateY(-15px);
              opacity: 1;
            }
            .show-details {
              transform: translateY(-15px);
              opacity: 1;
            }
          }
        }

        h4 {
          color: #fff;
          text-align: center;
          margin-bottom: 10px;
          font-size: 26px;
          margin-top: 280px;
          margin-bottom: 10px;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
          position: relative;
          width: 75%;
          transition: all 0.2s ease-in-out;
          margin-left: auto;
          margin-right: auto;

          @include media-breakpoint-down(lg) {
            margin-top: calc(45% - 30px);
            width: 95%;
          }

          @include media-breakpoint-down(md) {
            width: 75%;
            font-size: 36px;
          }

          @include media-breakpoint-down(sm) {
            font-size: 26px;
          }

          &:after {
            content: '';
            position: absolute;
            bottom: -20px;
            width: 50px;
            left: 50%;
            transform: translateX(-50%);
            height: 4px;
            border-radius: 2px;
            background-color: #fff;
          }
        }

        p {
          transition: all 0.2s ease-in-out;
          transform: translateY(0);
          margin-top: auto;
          min-height: 70px;
          position: relative;
          font-size: 14px;
          line-height: 1.3;
          color: #fff;
          opacity: 0;
        }
        .show-details {
          transition: all 0.2s ease-in-out;
          transform: translateY(0);
          opacity: 0;
          a {
            color: $secondary !important;
          }
        }

        background: linear-gradient(0deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 100%);
      }

      @include media-breakpoint-down(lg) {
        margin-top: 3rem;
      }
    }
    .project-one {
      background-image: url('../images/service/serviceimg1.jpg');
    }
    .project-two {
      background-image: url('../images/service/serviceimg3.jpg');
    }
    .project-three {
      background-image: url('../images/service/serviceimg2.jpg');
    }
  }
}
