.about-us-hero {
  height: 80vh;
  background-image: linear-gradient(0deg, rgba($primary, 0.4) 0%, rgba($secondary, 0.4) 90%), url('../images/home/homeintro.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .about-us-wrapper {
    height: 100%;
    color: $white;
    h1 {
      color: $white;
      font-weight: bold;
      @include media-breakpoint-up(xs) {
        font-size: 40px;
      }
      @include media-breakpoint-up(md) {
        font-size: 64px;
      }
    }

    p {
      @include media-breakpoint-up(xs) {
        font-size: 24px;
      }
    }
  }
}

.who-we-are {
  padding: 120px 60px 80px;
  h2 {
    font-weight: bold;
    color: $dark-grey;
  }
  .who-btn {
    a {
      color: $white;
      @include media-breakpoint-up(sm) {
        width: 180px;
      }
      @include media-breakpoint-up(lg) {
        width: 255px;
      }
    }
  }
}

.technology {
  margin: 50px 0;
  background-color: rgba(0, 161, 154, 0.1);
  box-shadow: 0px 3px 9px 2px rgba(46, 61, 98, 0.1);

  .technology-img {
    min-height: 300px;
  }
  h3 {
    font-weight: bold;
  }
  span {
    padding-left: 10px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 12px;
      left: -5px;
      width: 10px;
      height: 1px;
      background-color: $dark-grey;
    }
  }
  .technology-slider {
    .item {
      display: flex;
      justify-content: center;
      height: 250px;
      img {
        object-fit: cover;
      }
    }
  }
}

.our-people {
  padding: 80px 0;
  h2 {
    font-weight: bold;
    color: $dark-grey;
    margin-bottom: 8rem;
  }
  img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 3px 9px 2px rgba(46, 61, 98, 0.2);
  }
  .img-text-left {
    padding-bottom: 8rem;

    .employee {
      position: relative;

      .people-border {
        position: absolute;
        top: -8%;
        left: 50%;
        transform: translate(-50%, 8%);
        border: 7px solid $secondary;
        width: 400px;
        height: 180px;
        z-index: 100;

        @include media-breakpoint-down(lg) {
          top: -5%;
          transform: translate(-50%, 5%);
        }
        @include media-breakpoint-down(md) {
          left: 25%;
          top: -12%;
        }
        @include media-breakpoint-down(sm) {
          left: 30%;
          top: -12%;
        }
        @include media-breakpoint-down(xs) {
          left: 35%;
          top: -12%;
        }
      }
    }
    .people-text {
      padding: 30px 40px 50px 0;

      h2 {
        color: $primary;
      }
      h5 {
        color: $secondary;
      }
      p {
        font-size: 20px;
        font-family: $bodyFontFamily;
      }
    }
  }
  .img-text-right {
    padding-bottom: 7rem;
    .employee {
      position: relative;

      .people-border {
        position: absolute;
        top: -9%;
        left: 50%;
        transform: translate(-50%, 8%);
        border: 7px solid $secondary;
        width: 400px;
        height: 180px;
        z-index: 100;
        @include media-breakpoint-down(lg) {
          top: -5%;
          transform: translate(-50%, 5%);
        }
        @include media-breakpoint-down(md) {
          left: 25%;
          top: -12%;
        }
        @include media-breakpoint-down(sm) {
          left: 30%;
          top: -12%;
        }
        @include media-breakpoint-down(xs) {
          left: 35%;
          top: -12%;
        }
      }
    }
    .people-text {
      padding: 30px 40px 50px 0;

      h2 {
        color: $primary;
      }
      h5 {
        color: $secondary;
      }
      p {
        font-size: 20px;
        font-family: $bodyFontFamily;
      }
    }
  }
  .contact-us-btn {
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    a {
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      padding: 20px 60px;
      color: white;
      width: 160px;
      font-size: 20px;
      &:hover {
        background-color: $primary;
      }

      @include media-breakpoint-down(xs) {
        width: 160px;
        font-size: 12px;
      }
      @include media-breakpoint-up(xs) {
        width: 180px;
      }
      @include media-breakpoint-up(lg) {
        width: 255px;
      }
    }
  }
}
